# Data Collection
yfinance>=0.2.40
GoogleNews
pandas
numpy
finnhub-python

# AI & Machine Learning (FinBERT & LSTM)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
scikit-learn
tensorflow-cpu
joblib

# Web App & Visualization
streamlit
matplotlib