# Data Collection
yfinance>=0.2.40
GoogleNews
pandas
numpy<2.0
finnhub-python

# AI & Machine Learning (FinBERT & LSTM)
torch
transformers
scikit-learn
tensorflow
joblib

# Web App & Visualization
streamlit
matplotlib